/* font-family: 'Roboto', sans-serif;
teal - #0fb9b1;
grey - #95a5a6;
red - #ee5253 */

body {
    background-image: url("./assets/burger-friends.jpg");
    background-size: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.header{
    background-color: #0fb9b1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    
}

/* buttons */
.button{
    box-shadow: none;
    border-radius: 0px;
    border: 0;
    border-radius: 4px;
    padding: 4px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    padding-left: 0px;
    list-style-type:none;
}
li{
    margin-block-start: .9em;
    margin-block-end: .9em;
}
.lets-cook{
    padding-left: 15px;
    padding-right: 15px;
    background-color:#0fb9b1;

}

/* main display */ 
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3%;
    height: 45%
}

[type="radio"]{
    vertical-align:middle;
}

.box{
    background-color: rgba(225, 225, 225, .9);
    padding: 3%;
    flex-basis: auto;
    width: 30%;
}

.item-select, .favorites-box {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start
}

.suggestion-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

img{
    height:45%;
    width:45%
}

/* randomshit */
.item{
    font-size:2rem;
    margin-block-start: 0em;
    margin-block-end: 2em;
    font-weight: bold
}

.suggestion{
    margin-block-start: 4em;
    margin-block-end: 0em;
    font-style: italic;
}
.favorite-box h1, .favorite-box li{
    font-size: 20%;
    margin-block-start: 0em;
    margin-block-end: 0em
}

span{
    color:red
}

.hidden{
    display:none;
}
